<div class="fixed-width col-auto">
    <div class="card mb-2 @CardClass">
        <div class="card-header">
            @header
        </div>
        <img src="./images/others/photo-coming-soon.jpg" alt="Card image cap">
        <div class="card-body w-100">
            <span class="fw-bold">@Item?.Name</span>
            <br />

            @if (ShowBoxInfo)
            {
                <span class="fst-italic">@Item?.Box.Name</span>
                <br />
            }
            
            @ChildContent

            @if (ShowDetails)
            {
                <BoxItemDetails Item="Item" />
            }
        </div>
    </div>
</div>

@code 
{
    private string? header;

    private string? CardClass { get; set; }

    [Parameter]
    public bool ShowBoxInfo { get; set; } = true;

    [Parameter]
    public bool ShowDetails { get; set; } = false;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public IBoxItem? Item { get; set; }

    protected override void OnParametersSet()
    {
        var value = Item;

        if (value is IAntiHero)
        {
            header = "Anti Hero";
            CardClass = "bg-anti-hero";
        }
        else if(value is IHero)
        {
            header = "Hero";
            CardClass = "bg-hero";
        }
        else if (value is IVillain)
        {
            var villain = (IVillain)value;

            if (villain.IsVillainTeam)
            {
                header = "Villain Team";
                CardClass = "bg-villain-team";
            }
            else
            {
                header = "Villain";
                CardClass = "bg-villain";
            }
        }
        else if (value is ILocation)
        {
            header = "Location";
            CardClass = "bg-location";
        }
        else if(value is IHeroTeam)
        {
            var team = (IHeroTeam)value;

            header = $"Hero Team";
            CardClass = "bg-hero-team";
        }
        else if (value is IChallenge)
        {
            header = "Challenge";
            CardClass = "bg-challenge";
        }

        if(ShowDetails)
        {
            CardClass += " card-wide";
        }   
    }
}