@using System.IO;
<div cass="col">
    <div class="card mb-2 h-100 @cardClass">
        <div class="card-header">
            @header
        </div>
        <div class="pt-2">
            <img src="@imgUrl" class="border border-dark border-2 rounded-circle" alt="@Item?.Name" onerror="@(() => ImageNotFound())">
        </div>
        <div class="card-body p-1">
            <div class="fw-bold text-center">@Item?.Name</div>
            
            @if (ShowBoxInfo)
            {
                <div class="fst-italic text-center">@Item?.Box.Name</div>
            }
            
            @ChildContent

            @if (ShowDetails)
            {
                <BoxItemDetails Item="Item" />
            }
        </div>
    </div>
</div>

@code 
{
    private string? header;

    private string? imgUrl;

    private string? cardClass;

    [Parameter]
    public bool ShowBoxInfo { get; set; } = true;

    [Parameter]
    public bool ShowDetails { get; set; } = false;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public IBoxItem? Item { get; set; }

    private void ImageNotFound()
    {
        imgUrl = "./images/others/photo-coming-soon.jpg";
    }

    protected override void OnParametersSet()
    {
        imgUrl = $"./images/S{Item?.Season.Number}/{Item?.Box.Code}/{Item?.Code}.png";

        if (Item is IAntiHero)
        {
            header = "Anti Hero";
            cardClass = "bg-anti-hero";
        }
        else if(Item is IHero)
        {
            header = "Hero";
            cardClass = "bg-hero";
        }
        else if (Item is IVillain)
        {
            var villain = (IVillain)Item;

            if (villain.IsVillainTeam)
            {
                header = "Villain Team";
                cardClass = "bg-villain-team";
            }
            else
            {
                header = "Villain";
                cardClass = "bg-villain";
            }
        }
        else if (Item is ILocation)
        {
            header = "Location";
            cardClass = "bg-location";
        }
        else if(Item is IHeroTeam)
        {
            var team = (IHeroTeam)Item;

            header = $"Hero Team";
            cardClass = "bg-hero-team";
        }
        else if (Item is IChallenge)
        {
            header = "Challenge";
            cardClass = "bg-challenge";
        }
    }
}