@using UnitedGenerator.Data;
<div class="col-12 col-md-6 col-lg-4 col-xl-2">
    <div class="card text-white bg-primary m-1">
        <div class="card-header">
            @Type
        </div>
        <div class="card-body">
            <h5 class="card-title">@Item?.Name</h5>
            <h6 class="card-subtitle mb-2">@Item?.Box?.Name</h6>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public IBoxItem? Item { get; set; }

    [Parameter]
    public string? Type { get; set; }
}
