@using UnitedGenerator.Data;
<div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card m-1 @CardClass">
        <div class="card-header">
            @Type
        </div>
        <div class="card-body">
            <h5 class="card-title">@Item?.Name</h5>
            <h6 class="card-subtitle mb-2">@Item?.Box.Name, Season @Item?.Season.Number</h6>
            @ChildContent
        </div>
    </div>
</div>

@code {
    [Parameter]
    public IBoxItem? Item { get; set; }

    [Parameter]
    public string? Type { get; set; }

    [Parameter]
    public string? CardClass { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
