@using System.IO;
<div class="fixed-width col-auto">
    <div class="card mb-2 @cardClass">
        <div class="card-header">
            @header
        </div>
        <img src="@imgUrl" alt="@Item?.Name" onerror="@(() => ImageNotFound())">
        <div class="card-body">
            <div class="fw-bold text-center">@Item?.Name</div>
            
            @if (ShowBoxInfo)
            {
                <div class="fst-italic text-center">@Item?.Box.Name</div>
            }
            
            @ChildContent

            @if (ShowDetails)
            {
                <br />
                <BoxItemDetails Item="Item" />
            }
        </div>
    </div>
</div>

@code 
{
    private string? header;

    private string? imgUrl;

    private string? cardClass;

    [Parameter]
    public bool ShowBoxInfo { get; set; } = true;

    [Parameter]
    public bool ShowDetails { get; set; } = false;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public IBoxItem? Item { get; set; }

    private void ImageNotFound()
    {
        imgUrl = "./images/others/photo-coming-soon.jpg";
    }

    protected override void OnParametersSet()
    {
        imgUrl = $"./images/S{Item?.Season.Number}/{Item?.Box.Code}/{Item?.Code}.png";

        if (Item is IAntiHero)
        {
            header = "Anti Hero";
            cardClass = "bg-anti-hero";
        }
        else if(Item is IHero)
        {
            header = "Hero";
            cardClass = "bg-hero";
        }
        else if (Item is IVillain)
        {
            var villain = (IVillain)Item;

            if (villain.IsVillainTeam)
            {
                header = "Villain Team";
                cardClass = "bg-villain-team";
            }
            else
            {
                header = "Villain";
                cardClass = "bg-villain";
            }
        }
        else if (Item is ILocation)
        {
            header = "Location";
            cardClass = "bg-location";
        }
        else if(Item is IHeroTeam)
        {
            var team = (IHeroTeam)Item;

            header = $"Hero Team";
            cardClass = "bg-hero-team";
        }
        else if (Item is IChallenge)
        {
            header = "Challenge";
            cardClass = "bg-challenge";
        }

        if (ShowDetails)
        {
            cardClass += " card-wide";
        }   
    }
}