<div class="@ColClass">
    <div class="card m-1 @CardClass">
        <div class="card-header">
            @header
        </div>
        <div class="card-body">
            <h5 class="card-title">@Item?.Name</h5>
            
            @if (ShowBoxInfo)
            {
                <h6 class="card-subtitle mb-2">@Item?.Box.Name</h6>
            }
            
            @ChildContent
            
            @if (ShowDetails)
            {
                <BoxItemDetails Item="Item" />
            }
        </div>
    </div>
</div>

@code 
{
    private IBoxItem? _item;

    private string? header;

    private string? CardClass { get; set; }

    [Parameter]
    public bool ShowBoxInfo { get; set; } = true;

    [Parameter]
    public bool ShowDetails { get; set; } = false;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public IBoxItem? Item
    {
        get { return _item; }
        set
        {
            _item = value;

            if (value is IAntiHero)
            {
                header = "Anti Hero";
                CardClass = "bg-success text-white";
            }
            else if(value is IHero)
            {
                header = "Hero";
                CardClass = "bg-primary text-white";
            }
            else if (value is IVillain)
            {
                var villain = (IVillain)value;

                if (villain.IsVillainTeam)
                {
                    header = "Villain Team";
                    CardClass = "bg-dark text-white";
                }
                else
                {
                    header = "Villain";
                    CardClass = "bg-danger text-white";
                }
            }
            else if (value is ILocation)
            {
                header = "Location";
                CardClass = "bg-light";
            }
            else if(value is IHeroTeam)
            {
                var team = (IHeroTeam)value;

                header = $"Team ({team.TeamType})";
                CardClass = "bg-info text-white";
            }
            else if (value is IChallenge)
            {
                header = "Challenge";
                CardClass = "bg-warning";
            }
        }
    }

    private string ColClass 
    {
        get
        {
            if(ShowDetails)
            {
                return "col-12 col-md-8 col-lg-6";
            }

            return "col-12 col-sm-6 col-md-4 col-lg-3";
        }
    }
}