img {
    border: solid thin;
    border-radius: 50%;
    margin: 4px;
    max-width: 150px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card {
    min-width: 180px !important;
    max-width: 180px !important;
}

.card-body {
    padding-top: 5px;
}

.card-wide {
    max-width: 400px !important;
}

.bg-anti-hero {
    --bs-bg-opacity: 1;
    background-color: #b9a6de !important;
}

    .bg-anti-hero .card-header {
        --bs-bg-opacity: 1;
        background-color: mediumpurple !important;
    }

.bg-hero {
    --bs-bg-opacity: 1;
    background-color: skyblue !important;
}

    .bg-hero .card-header {
        --bs-bg-opacity: 1;
        background-color: deepskyblue !important;
    }

.bg-hero-team {
    --bs-bg-opacity: 1;
    background-color: skyblue !important;
}

    .bg-hero-team .card-header {
        --bs-bg-opacity: 1;
        background-color: darkblue !important;
        color: white !important;
    }

.bg-villain {
    --bs-bg-opacity: 1;
    background-color: #ffa4a4 !important;
}

    .bg-villain .card-header {
        --bs-bg-opacity: 1;
        background-color: #ff4444 !important;
    }

.bg-villain-team {
    --bs-bg-opacity: 1;
    background-color: #ffa4a4 !important;
}

    .bg-villain-team .card-header {
        --bs-bg-opacity: 1;
        background-color: darkred !important;
        color: white !important;
    }

.bg-challenge {
    --bs-bg-opacity: 1;
    background-color: lightgoldenrodyellow !important;
}

    .bg-challenge .card-header {
        background-color: #feff7c !important;
    }

.bg-location {
    --bs-bg-opacity: 1;
    background-color: lightgrey !important;
}

    .bg-location .card-header {
        background-color: #9d9d9d !important;
    }

