<div class="alert alert-secondary mt-5" role="alert">
    Marvel United is owned by CMON Games and Spinmaster Games. This website is not affiliated with those companies.<br />
    All assets are property of Marvel and CMON.
</div>