@using UnitedGenerator.Engine.Models;

@foreach (var game in CurrentGames)
{
    <h1>@game.Title</h1>

    <h2>Villain</h2>
    <div class="row">

        @if (game.Villain.IsVillainTeam)
        {
            <BoxItemCard Item="game.Villain" ShowDetails="ShowDetails" />

            @foreach (var villain in game.Villain.SubVillains)
            {
                <BoxItemCard Item="villain" ShowDetails="ShowDetails" />
            }
        }
        else
        {
            <BoxItemCard Item="game.Villain" ShowDetails="ShowDetails" />
        }

        @if (game.Challenge != null)
        {
            <BoxItemCard Item="game.Challenge" ShowDetails="ShowDetails" />
        }
    </div>

    @foreach (var group in game.HeroGroups)
    {
        <h2>@group.Name</h2>

        <div class="row">
            @if (group.Team != null)
            {
                <BoxItemCard Item="group.Team" ShowDetails="ShowDetails" />
            }

            @foreach (var hero in group.Heroes)
            {
                <BoxItemCard Item="hero" ShowDetails="ShowDetails" />
            }
        </div>
    }

    <h2>Locations</h2>
    <div class="row">
        @foreach (var location in game.Locations)
        {
            <BoxItemCard Item="location" ShowDetails="ShowDetails" />
        }
    </div>
}

@code {
    [Parameter]
    public GameSetup[] CurrentGames { get; set; } = new GameSetup[0];

    [Parameter]
    public bool ShowDetails { get; set; }
}
