@using UnitedGenerator.Engine.Models;

@foreach (var game in CurrentGames)
{
    <h1>@game.Title</h1>

    <h2>Villain</h2>
    <div class="row">

        @if (game.Villain.IsVillainTeam)
        {
            <BoxItemCard Item="game.Villain" Type="Villain Team" />

            @foreach (var villain in game.Villain.SubVillains)
            {
                <BoxItemCard Item="villain" Type="Villain Team Member" />
            }
        }
        else
        {
            <BoxItemCard Item="game.Villain" Type="Villain" />
        }

        @if (game.Challenge != null)
        {
            <BoxItemCard Item="game.Challenge" Type="Challenge" />
        }
    </div>

    @foreach (var group in game.HeroGroups)
    {
        <h2>@group.Name</h2>

        <div class="row">
            @if (group.Team != null)
            {
                <BoxItemCard Item="group.Team" Type="@group.Team.TeamType" />
            }

            @foreach (var hero in group.Heroes)
            {
                <BoxItemCard Item="hero" Type="Hero" />
            }
        </div>
    }

    <h2>Locations</h2>
    <div class="row">
        @foreach (var location in game.Locations)
        {
            <BoxItemCard Item="location" Type="Location" />
        }
    </div>
}

@code {
    [Parameter]
    public GameSetup[] CurrentGames { get; set; } = new GameSetup[0];
}
