<label for="percentage-input">@Text</label>
<div class="input-group mb-3">
    <input min="0" max="100" type="number" class="form-control" style="text-align:right;" @bind="Value" id="percentage-input" />
    <div class="input-group-append">
        <span class="input-group-text">%</span>
    </div>
</div>

@code {
    private int _value;

    [Parameter]
    public string? Text { get; set; }

    [Parameter]
    public int Value 
    { 
        get
        {
            return _value;
        }
        set
        {
            value = Math.Min(value, 100);
            value = Math.Max(value, 0);

            if (_value == value)
                return;

            _value = value;
            ValueChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<int> ValueChanged { get; set; }
}
