@page "/about"
@using UnitedGenerator.Data;

<PageTitle>Get the App</PageTitle>

<h4>
    Current version: 
    @System.Reflection.Assembly.GetExecutingAssembly().GetName().Version
</h4>

Please restart the application or re-open the browser tab TWICE, to ensure you have the latest version.