@page "/about"
@using UnitedGenerator.Data;

<PageTitle>About</PageTitle>

<h4>
    Current version: 
    @System.Reflection.Assembly.GetExecutingAssembly().GetName().Version
</h4>

<p>Please restart the application or re-open the browser tab TWICE, to ensure you have the latest version.</p>

<p>Marvel United is owned by CMON Games and Spinmaster Games. This website is not affiliated with those companies. All assets are property of Marvel and CMON.</p>