@page "/about"
@using UnitedGenerator.Data;

<PageTitle>Get the App</PageTitle>

<h4>
    Current version: 
    @System.Reflection.Assembly.GetExecutingAssembly().GetName().Version
</h4>

<button type="button" class="btn btn-warning shadow floating-update-button" onclick="window.location.reload()">
    Click here to load latest version
</button>