@page "/counter"
@using UnitedGenerator.Data;
@using UnitedGenerator.Engine;

<PageTitle>Counter</PageTitle>



<h1>Heroes</h1>

<h3>Heroes</h3>
        <ul>
    @foreach (var hero in heros)
            {
                <li>@hero.Name (@hero.Box.Name)</li>
            }
        </ul>

<button class="btn btn-primary" @onclick="IncrementCount">Generate</button>

@code {
    private GameRandomizer random = new GameRandomizer();
    private List<IHero> heros = new List<IHero>();

    private void IncrementCount()
    {
        heros.Clear();

        var game = random.Generate();

        heros.AddRange(game.Heroes);
    }
}
