@page "/counter"
@using UnitedGenerator.Data;
@using UnitedGenerator.Engine;

<PageTitle>Counter</PageTitle>



<h1>Game</h1>

<button class="btn btn-primary" @onclick="IncrementCount">Generate</button>

@if (game != null)
{
    <h2>Heroes</h2>
    <ul>
        @foreach (var hero in game.Heroes)
        {
            <li>@hero.Name (@hero.Box.Name)</li>
        }
    </ul>

    <h2>Villain</h2>
    <div>@game.Villain.Name (@game.Villain.Box.Name)</div>
}

@code {
    private GameRandomizer random = new GameRandomizer();

    private GameSetup? game = null;

    private void IncrementCount()
    {
        game = random.Generate();
    }
}
