@page "/counter"
@using UnitedGenerator.Data;
@using UnitedGenerator.Engine;

<PageTitle>Counter</PageTitle>



<h1>Heroes</h1>

<h3>Heroes</h3>
        <ul>
    @foreach (var hero in heros)
            {
                            <li>@hero.Name</li>
            }
        </ul>

<button class="btn btn-primary" @onclick="IncrementCount">Generate</button>

@code {
    private DataService dataService = new DataService();
    private List<IHero> heros = new List<IHero>();

    private void IncrementCount()
    {
        heros.Clear();
        heros.AddRange(dataService.Heroes.Take(4));
    }
}
