@page "/data"
@using UnitedGenerator.Data;

<PageTitle>Data Review</PageTitle>

<div class="alert alert-primary" role="alert">
    This page is only intended for those who wants to know (or review) what data goes into the generation.<br />
    Please report any errors you might find!
</div>
<div class="alert alert-secondary" role="alert">
    Developers are welcome to take a even deeper look into the source at <a href="https://github.com/norsjensen/UnitedGenerator" target="_blank">GitHub</a>
</div>

@foreach (var season in DataFactory.Seasons.OrderBy(x => x.Number))
{
    @foreach (var box in season.Boxes.OrderByBoxDefault())
    {
        <h2>Season @season.Number: @box.Name</h2>

        <div class="row g-2 mb-5 row-cols-1 row-cols-lg-2 row-cols-xxl-3">

            @foreach (var item in box.AllItems)
            {
                <BoxItemCard Item="item" ShowBoxInfo="false" ShowDetails="true" />
            }

        </div>
    }
}