@page "/feedback"

<PageTitle>Feedback</PageTitle>

<h1>Feedback</h1>

<p>
    If you have any kind of feedback, please use one of the methods below.
</p>

<div class="row"> 
    <img src="./images/others/github-mark.png" class="mt-5 col-5 col-md-4 col-lg-3 col-xl-2 col-xxl-1" />
    <h2>GitHub</h2>
    <p>
        If you have a GitHub account please create a <a href="https://github.com/norsjensen/UnitedGenerator/issues" target="_blank">new Issue on GitHub</a>.
    </p>
</div>

<div class="row"> 
    <img src="./images/others/Facebook_Logo.png" class="mt-5 col-5 col-md-4 col-lg-3 col-xl-2 col-xxl-1" />
    <h2>Marvel United Fanatics on Facebook</h2>
    <p>
        If you are a member of the Marvel United Fanatics group on Facebook, <a href="https://www.facebook.com/groups/1086506948378525/permalink/1888769968152215/" target="_blank">please comment on this post</a>.
    </p>
</div>

<div class="row"> 
    <img src="./images/others/bgg_logo.png" class="rounded-circle mt-5 col-5 col-md-4 col-lg-3 col-xl-2 col-xxl-1" />
    <h2>Board Game Geek</h2>
    <p>
        If you have a Board Game Geek account, <a href="https://boardgamegeek.com/thread/3034730/new-intelligent-randomizer-any-platform" target="_blank">please reply on this thread</a>.
    </p>
</div>
