@page "/"
@using UnitedGenerator.Data;
@using UnitedGenerator.Engine;
@using UnitedGenerator.Engine.Models;
@inject MyCollectionService myCollection;

<PageTitle>United Generator</PageTitle>

@if (!generated)
{
    <div class ="col-12 col-md-10 col-lg-8 col-xxl-4">
        <h2>Game Setup</h2>
        <NumberInput Text="Number of Heroes" Min="2" Max="8" @bind-Value="config.PlayerCount" StorageKey="generator.number.playercount" />
    
        <div class="row mb-3">
            <label class="col-4 col-form-label" for="game-mode">Game Mode</label>
            <div class="col-8">
                <select class="form-select" @bind="config.GameType" id="game-mode">
                    <option value="@GameMode.Normal">Normal Game</option>
                    <option value="@GameMode.TeamVsTeam">Gold vs Blue Team</option>
                </select>
            </div>
        </div>

        <div class="row m-3">
            <BooleanInput Text="Show Preferences" @bind-Value="showPreferences" />
            <BooleanInput Text="Show Demo & Test Settings" @bind-Value="showDebugSettings" />
        </div>

        <div class="row m-3">
            <button class="btn btn-primary btn-lg mb-2 col-12" @onclick="GenerateGame">Generate Game</button>
        </div>
    </div>
    

    <div class="row">
        @if (showPreferences)
        {
            <div class="mb-2">
                <div class="card col-12 col-xl-8">
                    <div class="card-body">
                        <h5 class="card-title">Preferences</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Adjust how likely you want different events to happen.</h6>

                        <PercentageInput Text="Use a Hero Team" @bind-Value="config.SelectTeamProbability" StorageKey="generator.percent.heroteam" />
                        <div class="text-info">
                            If a Hero Team is used all Heroes will be selected from the list of team members, but others will be added if needed.
                            Please note that team members can also be selected normally without being part of a team. This feature is just added so you
                            have a realistic chance of playing as the Fantastic Four or a similar Team.
                        </div>

                        <hl />

                        <PercentageInput Text="Include a random Challenge" @bind-Value="config.SelectChallengeProbability" StorageKey="generator.percent.challenge" />
                        <div class="text-info">
                            A random Challenge could be added and taken into account during the generation. Please note that not all Challenges are valid in all setups and that some 
                            Villains disables all Challenges. A Challenge may not be selected even if this is set to 100%. If you never want a Challenge added, simply set this setting to 0%.
                        </div>
                    </div>
                </div>
            </div>
        }

        @if (showDebugSettings)
        {
            <div class="mb-2">
                <div class="card col-12 col-xl-8">
                    <div class="card-body">
                        <h5 class="card-title">Demo & Test Settings</h5>
                        <h6 class="card-subtitle mb-4 text-muted">Theese settings are mostly used for test and demo purporses, but feel free to play around with them.</h6>

                        <BooleanInput Text="Only include Villain Teams" @bind-Value="config.OnlyVillainTeams" />
                        <BooleanInput Text="Only include Villains with multiple games" @bind-Value="config.OnlyVillainsWithPreGames" />
                        <BooleanInput Text="Only include Villains with Hero groups" @bind-Value="config.OnlyVillainsWithHeroGroups" />
                        <BooleanInput Text="Only include Villains with Locations" @bind-Value="config.OnlyVillainsWithLocations" />
                        <BooleanInput Text="Only include Villains with Location restrictions" @bind-Value="config.OnlyIncludeVillainsWithLocationRestrictions" />
                        <BooleanInput Text="Only include Hazardous Location Challenge" @bind-Value="config.OnlyHazardousLocationsChallenge" />
                        <BooleanInput Text="Only include Anti Heroes" @bind-Value="config.OnlyUseAntiHeroes" />
                    </div>
                </div>
            </div>
        }
    </div>
}

@if (generated)
{
    <button class="btn btn-primary m-2" @onclick="GenerateGame">Generate Again</button>
    <button class="btn btn-secondary m-2" @onclick="Reset">Change Setup</button>
    <BooleanInput Text="Show generation details" @bind-Value="showDetails" />
}

<Games CurrentGames="games" ShowDetails="showDetails" />

@if (games.Length == 0 && generated)
{
    <div class="row">
        <div class="alert alert-danger m-5" role="alert">
            Not possible to generate a game, please change your options or collection and try again!
        </div>
    </div>
}

@code {
    private GameRandomizer? random;
    private GameSetup[] games = new GameSetup[0];

    private GenerationConfiguration config = new GenerationConfiguration();
    private bool generated = false;
    private bool showDetails = false;
    private bool showPreferences = false;
    private bool showDebugSettings = false;

    protected override void OnInitialized()
    {
        random = new GameRandomizer(DataFactory.Seasons, myCollection);
    }

    private void GenerateGame()
    {
        if (random != null)
        {
            games = random.Generate(config);

            generated = true;
        }
    }

    private void Reset()
    {
        games = new GameSetup[0];
        generated = false;
    }
}
