@page "/app"
@using System.Reflection;
@using System.IO;
@using UnitedGenerator.Data;

<PageTitle>Get the App</PageTitle>

<div class="row">

    <h1>Install this generator as an App!</h1>

    <p>This website is something called a PWA (Progressive Web App). This means that yo can install it into your OS's start menu, dock, or home screen.<br /> 
    The way this option is presented depends on your browser. </p>

    <p>Once installed, the app appears in its own window without the browser and can even be used offline!</p>

    <h3 class="mt-5">PC</h3>
    <p>When using desktop Chromium-based browsers, such as Edge or Chrome, an Add button appears within the URL bar. 
    After you click the Add button, you will receive a confirmation dialog:</p>

    <img src="./images/others/ChromeInstall.jpg" class="figure-img col-12 col-md-8 col-lg-6" />
    
    <h3 class="mt-5">iOS</h3>
    <p>On iOS, you can install the app using Safari's Share button and its Add to Homescreen option. This will actually install it as an app, not just add a Safari shortcut.</p> 

    <img src="./images/others/iosInstall.png" class="figure-img col-12 col-md-8 col-lg-6" />
    
    <h3 class="mt-5">Android</h3>
    <p>On Chrome for Android, you should select the Menu button in the upper-right corner, followed by Add to Home screen.</p>

    <img src="./images/others/AndroidInstall.jpg" class="figure-img col-12 col-md-8 col-lg-6" />

</div>