@page "/app"
@using UnitedGenerator.Data;

<PageTitle>Get the App</PageTitle>

<div class="alert alert-danger" role="alert">
    This site can be installed as an App, a guide will show up here when I get to it.<br />
    For now you can browse 'How to install a PWA on...' and insert you desired platform/browser.
</div>