@page "/app"
@using System.Reflection;
@using System.IO;
@using UnitedGenerator.Data;

<PageTitle>Get the App</PageTitle>

<div class="row">

    <h1>Install this generator as an App!</h1>

    <p>This website is something called a PWA (Progressive Web App), this means that yo can install it into your OS's start menu, dock, or home screen.<br /> 
    The way this option is presented depends on your browser. </p>

    <p>Once installed, the app appears in its own window without the browser and can even be used offline!</p>

    <h3>PC</h3>
    <p>When using desktop Chromium-based browsers, such as Edge or Chrome, an Add button appears within the URL bar. 
    After you click the Add button, you will receive a confirmation dialog:</p>

    <img src="@ChromeImageUrl" class="figure-img col-12 col-md-8 col-lg-6 p-2" />
    
    <h3>IOS</h3>
    <p>On iOS, you can install the PWA using Safari's Share button and its Add to Homescreen option.</p> 

    <img src="@IosImageUrl" class="figure-img col-12 col-md-8 col-lg-6 p-2" />
    
    <h3>Android</h3>
    <p>On Chrome for Android, you should select the Menu button in the upper-right corner, followed by Add to Home screen.</p>

    <img src="@AndroidImageUrl" class="figure-img col-12 col-md-8 col-lg-6 p-2" />

</div>

@code{
    private string? ChromeImageUrl => GetUrl("ChromeInstall");
    private string? IosImageUrl => GetUrl("IosInstall");
    private string? AndroidImageUrl => GetUrl("AndroidInstall");

    private string? GetUrl(string name)
    {
        Assembly myAssembly = Assembly.GetExecutingAssembly();
        using Stream? myStream = myAssembly.GetManifestResourceStream($"UnitedGenerator.Images.{name}.jpg");

        if (myStream != null)
        {
            using MemoryStream r = new MemoryStream();
            myStream.CopyTo(r);

            string imagesrc = Convert.ToBase64String(r.ToArray());
            return string.Format("data:image/jpeg;base64,{0}", imagesrc);
        }

        return null;
    }
}