@page "/"
@using UnitedGenerator.Data;

<PageTitle>Index</PageTitle>

@foreach(var season in DataFactory.Seasons)
{
    <h1>Season @season.Number - @season.Name</h1>

    @foreach(var box in season.Boxes)
    {
        <h2>@box.Name</h2>
        <h3>Heroes</h3>
        <ul>
        @foreach(var hero in box.Heroes)
        {
            <li>@hero.Name</li>
        }
        </ul>
    }
}
