@page "/collection"
@using UnitedGenerator.Data;
@using UnitedGenerator.Common;
@using UnitedGenerator.Shared.Collection;
@inject MyCollectionService myCollection;

<PageTitle>My Collection</PageTitle>

<div class="row">

    <div class="alert alert-primary" role="alert">
        This is where you can select what components you have or want to include in the game generation.
    </div>

    <div class="btn-toolbar m-3" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group btn-group-lg m-1" role="group" aria-label="Basic example">
            <button class="btn btn-success" @onclick="() => SetGlobalState(true)">Include EVERYTHING</button>
            <button class="btn btn-danger" @onclick="() => SetGlobalState(false)">Exclude EVERYTHING</button>
        </div>

        @foreach(var season in DataFactory.Seasons.OrderBy(x => x.Number))
        {
            <div class="btn-group btn-group-lg m-1" role="group" aria-label="Basic example">
                <button class="btn btn-success" @onclick="() => SetState(season, true)">Include all of Season @season.Number</button>
                <button class="btn btn-danger" @onclick="() => SetState(season, false)">Exclude all of Season @season.Number</button>
            </div>
        }
    </div>

    @foreach(var season in DataFactory.Seasons.OrderBy(x => x.Number))
    {
        @foreach(var box in season.Boxes.OrderByBoxDefault())
        {
            <MyCollectionBox Box="box" />
        }
    }

</div>

@code
{
    private void SetState(ISeason season, bool include)
    {
        foreach (var box in season.Boxes.OrderBy(x => x.Name))
        {
            myCollection.SetIncluded(box, include);
        }
    }

    private void SetGlobalState(bool include)
    {
        foreach (var season in DataFactory.Seasons.OrderBy(x => x.Number))
        {
            SetState(season, include);
        }
    }
}