@page "/collection"
@using UnitedGenerator.Data;
@using UnitedGenerator.Common;
@inject MyCollectionService myCollection;

<PageTitle>My Collection</PageTitle>

<div class="row">

    <div class="alert alert-primary" role="alert">
        This is where you can select what components you have or want to include in the game generation.
    </div>

    <div class="btn-group btn-group-lg mb-2 col-auto" role="group" aria-label="Basic example">
        <button class="btn btn-success" @onclick="() => SetGlobalState(true)">Include all boxes</button>
        <button class="btn btn-danger" @onclick="() => SetGlobalState(false)">Exclude all boxes</button>
    </div>

    @foreach(var season in DataFactory.Seasons.OrderBy(x => x.Number))
    {
        @foreach(var box in season.Boxes.OrderBy(x => x.Name))
        {
            <h2>Season @season.Number: @box.Name</h2>

            <div class="btn-group btn-group-lg mb-2 col-auto" role="group" aria-label="Basic example">
                <button class="btn btn-success" @onclick="() => SetState(box, true)">Include entire box</button>
                <button class="btn btn-danger" @onclick="() => SetState(box, false)">Exclude entire box</button>
            </div>

            <div class="row mb-5">

                @foreach(var item in box.AllItems)
                {
                    <BoxItemCard Item="item" ShowBoxInfo="false">
                        <MyCollectionBoxItem Item="item" />
                    </BoxItemCard>
                }

            </div>
        }
    }

</div>

@code
{
    private void SetState(IBox box, bool include)
    {
        myCollection.SetIncluded(box, include);
    }

    private void SetGlobalState(bool include)
    {
        foreach (var season in DataFactory.Seasons.OrderBy(x => x.Number))
        {
            foreach (var box in season.Boxes.OrderBy(x => x.Name))
            {
                myCollection.SetIncluded(box, include);
            }
        }
    }
}