@page "/collection"
@using UnitedGenerator.Data;
@using UnitedGenerator.Common;
@inject MyCollectionService myCollection;

<PageTitle>My Collection</PageTitle>

<div class="row">

    <div class="alert alert-primary" role="alert">
        This is where you can select what components you have or want to include in the game generation.
    </div>

    <div class="btn-toolbar m-3" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group btn-group-lg m-1" role="group" aria-label="Basic example">
            <button class="btn btn-success" @onclick="() => SetGlobalState(true)">Include EVERYTHING</button>
            <button class="btn btn-danger" @onclick="() => SetGlobalState(false)">Exclude EVERYTHING</button>
        </div>

        @foreach(var season in DataFactory.Seasons.OrderBy(x => x.Number))
        {
            <div class="btn-group btn-group-lg m-1" role="group" aria-label="Basic example">
                <button class="btn btn-success" @onclick="() => SetState(season, true)">Include all of Season @season.Number</button>
                <button class="btn btn-danger" @onclick="() => SetState(season, false)">Exclude all of Season @season.Number</button>
            </div>
        }
    </div>

    @foreach(var season in DataFactory.Seasons.OrderBy(x => x.Number))
    {
        @foreach(var box in season.Boxes.OrderByBoxDefault())
        {
            <h2>Season @season.Number: @box.Name</h2>

            <div class="btn-group btn-group-lg mb-2 col-auto" role="group" aria-label="Basic example">
                <button class="btn btn-success" @onclick="() => SetState(box, true)">Include entire box</button>
                <button class="btn btn-danger" @onclick="() => SetState(box, false)">Exclude entire box</button>
            </div>

            <div class="row g-2 row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6">

                @foreach(var item in box.AllItems)
                {
                    <BoxItemCard Item="item" ShowBoxInfo="false">
                        <MyCollectionBoxItem Item="item" />
                    </BoxItemCard>
                }

            </div>
        }
    }

</div>

@code
{
    private void SetState(IBox box, bool include)
    {
        myCollection.SetIncluded(box, include);
    }

    private void SetState(ISeason season, bool include)
    {
        foreach (var box in season.Boxes.OrderBy(x => x.Name))
        {
            SetState(box, include);
        }
    }

    private void SetGlobalState(bool include)
    {
        foreach (var season in DataFactory.Seasons.OrderBy(x => x.Number))
        {
            SetState(season, include);
        }
    }
}