@page "/collection"
@using UnitedGenerator.Data;
@using UnitedGenerator.Common.Utils;
@using UnitedGenerator.Shared.Collection;
@using UnitedGenerator.Common.Interfaces;
@inject MyCollectionService myCollection;

<PageTitle>My Collection</PageTitle>

<div class="row">

    <h1>My Collection</h1>
    <p>This is where you can select what components you have or want to include in the game generation.</p>
    
    <h2>Quickstart</h2>
    <div class="mb-5">
        @foreach(var season in DataFactory.Seasons.OrderBy(x => x.SortIndex))
        {
            <div class="row">
                <button class="btn btn-secondary m-1 col-auto" @onclick="() => SetState(season, true)">Include all of @season.Name</button>
                <button class="btn btn-secondary m-1 col-auto" @onclick="() => SetState(season, false)">Exclude all of @season.Name</button>
            </div>
        }
    </div>

    <h2>All Boxes</h2>
    <p>Sorted by Season, with Core boxes first and Kickstarter promos at last.</p>
    @foreach(var season in DataFactory.Seasons.OrderBy(x => x.SortIndex))
    {
        @foreach(var box in season.Boxes.OrderByBoxDefault())
        {
            <MyCollectionBox Box="box" />
        }
    }

</div>

@code
{
    private void SetState(ISeason season, bool include)
    {
        foreach (var box in season.Boxes.OrderBy(x => x.Name))
        {
            myCollection.SetIncluded(box, include);
        }
    }

    private void SetGlobalState(bool include)
    {
        foreach (var season in DataFactory.Seasons.OrderBy(x => x.SortIndex))
        {
            SetState(season, include);
        }
    }
}