@page "/collection"
@using UnitedGenerator.Data;

<PageTitle>My Collection</PageTitle>

<div class="alert alert-danger" role="alert">
    This is where you can select what components you have or want to include in the generation. This is not completed yet, please come back later!
    For now everything from Season 1 & 2 is included!
</div>