@page "/"

<PageTitle>Version</PageTitle>

<h1>Welcome to the United-Generator</h1>

<p>
    This website is can be used by any Marvel United fan, that wishes to generate random game setups, that are still valid according to the rules, and includes 
    as many variations as possible.
</p>

<div class="alert alert-warning" role="alert">
    Marvel United is owned by CMON Games and Spinmaster Games. 
    This website is not affiliated with those companies.
    All assets are property of Marvel and CMON.
</div>

<h3>Getting started</h3>
<p>
    Before you start <a href="generate">generating games</a>, please adjust <a href="collection">your collection</a> so the genarator knows
    what game items you want to include.
</p>

<p>
    If you want to this generator can even be <a href="app">installed as an App</a> on almost any platform (Windows, iOS, Android, ...). Please be aware that
    even when using this generator in a browser, the browser can use an old version for a long time, so <a href="version">check your version</a> when reporting issues.
</p>

<h3>How hard can it be?</h3>
<p>
    The generator is quite complicated and takes a lot of things into account, if you want to look (or even review) what data goes into the generator 
    <a href="data">please take a look</a>. For now here are the highligts:
</p>

<ul>
    <li>
        Select any number of Heroes required
        <ul>
            <li>Can include up to 8 heroes, not officially supported but some people do it anyway.</li>
            <li>Can select a Hero team and only select Heroes from this groups when possible. This way you have the chance to play as the 
                Fantastic Four or Cloak and Dagger. Other Heroes will be added if needed. Note that team members also can be included normally.
                This feature is mostly created to support the upcumming team decks in season 3.
            </li>
            <li>Select backup heroes for Villains that needs more than the starting Heroes (Like Thanos and Deadpool).</li>
            <li>Exclude Heroes not allowed by the Villains (like normal Colosus and Phoenix FIve Colosus).</li>
        </ul>
    </li>    
    <li>When fighting a team of villains all team members will be listed, this is really made to support the upcomming 'Modular Sinister Six'' mode in Season 3.</li>
    <li>Generate multi-games Villains (like Thanos, Apocalypse and Phoenix Five), where a number of games must be generated individually.</li>
    <li>
        Select 6 random locations for each game.
        <ul>
            <li>Include mandatory locations for some Villains (like Thanos and Apocalypse).</li>
            <li>Exclude locations that are only for special purposes (like 'Thanos Palace').</li>
            <li>Include locations at specific plaements when Villains requires it (like Doctor Doom and Apocalypse).</li>
            <li>Exclude locations where Heroes can draw cards, if the VIllains does not allow it (like 'Deadpool').</li>
            <li>Include at least 3 hazardous locations when using the 'Hazardous Locations Challenge'.</li>
            <li>Use maximum 3 locations with more starting thugs than ciilians if the Villian reqires it (like Deathbird').'</li>
        </ul>
    </li>
    <li>
        Include a random Challenge now and then, you can control how often.
        <ul>
            <li>Exclude Challenges that does not support the number of players (like the 'Traitor Challenge').</li>
            <li>Excludes Challenges that are not compatible with the current Villain (like Nimrod and the Sentinal Challenges).</li>
            <li>Excludes Challenges that are not compatible with the Villain (like 'Takeover Challemge' and Ultron).</li>
            <li>Never include challenges for some VIllains (like Thanos and Apocalypse).</li>
        </ul>
    </li>
    <li>
        Generate Team vs Team games.
        <ul>
            <li>Exclude Villains that are not supported in Team vs Team Games (like Hela and Dormammu).</li>
            <li>Exclude Challenges that are not supported in Team vs Team games (like the 'Plan B Challenge'').</li>
            <li>Includes Challenges that are only supported in Team vs Team mode (like the 'Acclerated Villain Challenge').</li>
        </ul>
    </li>
</ul>

<div class="alert alert-info" role="alert">
    <h3>Everything in season 3 will be added once I get my copy!</h3>
    Then things will get even more complicated...
</div>
