@page "/"

<PageTitle>Version</PageTitle>

<h1>Welcome to the United-Generator</h1>

<p>
    This website is can be used by any Marvel United fan, that wishes to generate random game setups, that are still valid according to the rules, and includes 
    as many variations as possible.
</p>

<div class="alert alert-warning" role="alert">
    Marvel United is owned by CMON Games and Spinmaster Games. 
    This website is not affiliated with those companies.
    All assets are property of Marvel and CMON.
</div>

<p>
    Before you start <a href="generate">generating games</a>, please adjust <a href="collection">your collection</a> so the genarator knows
    what game items you want to include.
</p>

<p>
    If you want to this generator can even be <a href="app">installed as an App</a> on almost any platform (Windows, iOS, Android, ...). Please be aware that
    even when using this generator in a browser, the browser can use an old version for a long time, so <a href="version">check your version</a> when reporting issues.
</p>

<p>
    The generator is quite complicated and takes a lot of things into account, if you want to look (or even review) what data goes into the generator 
    <a href="data">please take a look</a>. For now here are some of the highligts:
</p>

<ul>
    <li>TADA</li>
</ul>