@page "/"

<PageTitle>Welcome</PageTitle>

<h1>Welcome to the United Generator</h1>

<p>
    This website can be used by any Marvel United fan, who wishes to generate random game setups, that are still valid according to the rules, and includes 
    as many variations as possible.
</p>

<div class="alert alert-warning" role="alert">
    Marvel United is owned by CMON Games and Spinmaster Games. 
    This website is not affiliated with those companies.
    All assets are property of Marvel and CMON.
</div>

<h3>Getting started</h3>
<p>
    Before you start <a href="generate">generating games</a>, please adjust <a href="collection">your collection</a> so that the generator knows
    what game items you want to include.
</p>

<p>
    If you want to, this generator can even be <a href="app">installed as an App</a> on all common platforms (Windows, iOS, Android, etc.). 
</p>

<p>
    Please be aware that when using this generator, the browser/OS can use an old version for a very long time, 
    so <a href="version">check your version</a> to see if any updates are available.
</p>
    
<p>
    If you have any feedback you are very welcome to <a href="feedback">reach out</a>.
</p>

<h4 class="mt-5">How hard can it be?</h4>
<p>
    The generator is quite complicated and takes a lot of things into account, if you want to look (or even review) what data goes into the generator 
    <a href="data">please take a look</a>.
</p>
<p>
    For now here are the highligts (if you want to know):
</p>

<ul>
    <li>
        Select the of number required Heroes
        <ul>
            <li>Select backup Heroes for Villains that needs more than the starting Heroes (Like Thanos and Deadpool).</li>
            <li>Exclude Heroes not allowed by the Villains (like normal Colosus and Phoenix Five Colosus).</li>
            <li>Sometimes it can select a Hero Team and select Heroes from this group first.<br />
                This way you have the chance to play as the Fantastic Four or Cloak and Dagger. While other Heroes will be added if needed.<br />
                Note that team members also can be included in normal random selection.<br />
                This feature is mostly created to support the upcomming team decks in season 3.</li>
            <li>If the Villain needs more than the starting Heroes, these will also be selected from the selected Team if any.</li>
            <li>You can include up to 8 heroes, this is not officially supported but some people do it anyway.</li>
        </ul>
    </li>    
    <li>When fighting a team of Villains all team members will be listed. <br />
        This is actually made to support the upcomming 'Sinister Six Assembled' module in Season 3.
    </li>
    <li>Generate multi-games Villains (like Thanos, Apocalypse and Phoenix Five), where a number of games must be generated individually.</li>
    <li>
        Select 6 random Locations for each game.
        <ul>
            <li>Include mandatory Locations for some Villains (like Thanos and Apocalypse).</li>
            <li>Exclude Locations that are only for special purposes (like 'Thanos Palace').</li>
            <li>Include Locations at specific placements when Villains requires it (like Doctor Doom and Apocalypse).</li>
            <li>Exclude Locations where Heroes can draw cards, if the Villains does not allow it (like Deadpool).</li>
            <li>Include at least 3 hazardous Locations when using the Hazardous Locations Challenge.</li>
            <li>Use maximum 3 Locations with more starting Thugs than Civilians, if the Villian requires it (like Deathbird).</li>
        </ul>
    </li>
    <li>
        Include a random Challenge every now and then (you can control how often).
        <ul>
            <li>Exclude Challenges that does not support the number of players (like the Traitor Challenge).</li>
            <li>Exclude Challenges that are not compatible with the current Villain (like the Takeover Challenge and Ultron).</li>
            <li>Never include any kind of Challenges for some Villains (like Thanos and Apocalypse).</li>
        </ul>
    </li>
    <li>
        Generate Team vs Team games.
        <ul>
            <li>Exclude Villains that are not supported in Team vs Team Games (like Hela and Dormammu).</li>
            <li>Exclude Challenges that are not supported in Team vs Team games (like the Plan B Challenge).</li>
            <li>Includes Challenges that are only supported in Team vs Team mode (like the Acclerated Villain Challenge).</li>
            <li>The two teams are assigned Hero Teams individually, so it can happen that only one gets assigned from a Hero Team.</li>
        </ul>
    </li>
</ul>

<div class="alert alert-info" role="alert">
    <h5>Everything in season 3 will be added once I get my copy!</h5>
    <p>Then things will get even more complicated...</p>
    <ul>
        <li>Enchantress (Random Henchmen from other Villains).</li>
        <li>General Equipment.</li>
        <li>Team Decks.</li>
        <li>Galactus Heralds.</li>
        <li>Civil War game modes.</li>
        <li>Sinister Six Assembled.</li>
        <li>Pet Companions.</li>
        <li>And all the content....</li>
    </ul>
</div>

<h3>For Developers</h3>
<p>
    Developers are welcome to take a look into the source at <a href="https://github.com/norsjensen/UnitedGenerator" target="_blank">GitHub</a><br />
    You are welcome to contribute, especially if you are an Bootstrap/styling expert! The site is a C# Blazor PWA app with Bootstrap 5.
</p>