<div class="row mb-3">
    <label class="col-8 col-form-label" for="@id">@Text</label>
    <div class="col-4">
        <div class="input-group">
            <input min="0" max="100" type="number" class="form-control" style="text-align:right;" @bind="Value" id="@id" />
            <div class="input-group-append">
                <span class="input-group-text">%</span>
            </div>
        </div>
    </div>
</div>

@code {
    private int _value;

    private string id = Guid.NewGuid().ToString();

    [Parameter]
    public string? Text { get; set; }

    [Parameter]
    public int Value 
    { 
        get
        {
            return _value;
        }
        set
        {
            value = Math.Min(value, 100);
            value = Math.Max(value, 0);

            if (_value == value)
                return;

            _value = value;
            ValueChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<int> ValueChanged { get; set; }
}
