@inject MyCollectionService myCollection;
@using UnitedGenerator.Common.Interfaces;
<div class="m-3">
    <input class="form-check-input" checked="@included" type="checkbox" @onchange="OnChange" id="@id" />
    <label class="form-check-label" for="@id">Included</label>
</div>

@code {
    [Parameter]
    public IBoxItem? Item { get; set; }

    private string id = Guid.NewGuid().ToString();

    private bool included;

    [Parameter]
    public EventCallback SelectionChanged { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        if (Item != null)
        {
            var value = myCollection.IsIncluded(Item);
            if(value != included)
            {
                included = value;
                StateHasChanged();
            }
        }
    }

    private void OnChange(ChangeEventArgs e)
    {
        if (Item != null && e.Value is bool)
        {
            myCollection.SetIncluded(Item, (bool)e.Value);

            SelectionChanged.InvokeAsync();
        }
    }
}
