@inject MyCollectionService myCollection;

@if (Box != null)
{
    <h2>Season @Box.Season.Number: @Box.Name</h2>

    <div class="btn-group btn-group-lg mb-2 col-auto" role="group" aria-label="Basic example">
        <button class="btn btn-success" @onclick="() => SetState(Box, true)">Include entire box</button>
        <button class="btn btn-danger" @onclick="() => SetState(Box, false)">Exclude entire box</button>
    </div>

    <div class="row g-2 row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6">

        @foreach (var item in Box.AllItems)
        {
            <BoxItemCard Item="item" ShowBoxInfo="false">
                <MyCollectionBoxItem Item="item" />
            </BoxItemCard>
        }

    </div>
}

@code {

    [Parameter]
    public IBox? Box { get; set; }

    private void SetState(IBox box, bool include)
    {
        myCollection.SetIncluded(box, include);
    }
}
