@if (Location != null)
{
    <p>
        @Location.StartingCivilians Startings Civilians.<br/>
        @Location.StartingThugs Startings Thugs.
    </p>

    @if (!Location.IncludeInRandomSelection)
    {
        <p>Do not include in random selection.</p>
    }

    @if (Location.Hazardous)
    {
        <p>Hazardous location.</p>
    }

    @if (Location.AllowsHeroesToDrawCards)
    {
        <p>Allows Heroes to draw cards.</p>
    }
}

@code {
    [Parameter]
    public ILocation? Location { get; set; }
}
